#mainError {
    font-size: 100px;
    font-weight: 600;
}

#secondaryError {
    font-size: 20px;
}

#search {
    color: #0277BD;
    font-size: 250px;
    margin-top:-20px;
}


.navbar{
    display:none;
}