body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ECEFF1;
}

/*register*/
#registerForm {
    background-color:#fff;
    margin-top:40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/*register:end*/

/*nav bar*/
.navbar-inverse {
    background-color: #fff;
    border-color: #e0e0e0;
}

#logo-icon {
    height:45px;
    width: 100px;
    margin-bottom:5px;
}

.icon{
    font-size: 16px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #000;
}

.icon:hover{
    color: #aaa;
}

#textboxSearch {
    margin-top:10px;
    color:#424242;
}

#btnSearch {
    margin-top:10.5px;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;
}    

#logo-home {
    width: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logout-link{
    margin-right: 20px;
    margin-top: 10px;
}

.dropdown-menu {
    position:absolute;
    padding-left:10px;
    padding-right:10px;
    height:auto;
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
}


#friend-request-notification {
    margin-left: 5px;
    margin-top: -20px;
    color: #fff;
    background-color: #f00;
    position: absolute;
    font-size: 8px;
}

.friend-request-listitem {
    font-size:11px;
}

#other-notification {
    margin-left: 5px;
    margin-top: -18px;
    color: #fff;
    background-color: #f00;
    position: absolute;
    font-size: 8px;
}

#sender-prof-pic {
    height:35px; 
    width:35px;
    margin-top:3px;
    margin-right:10px;
    border-radius:2px;
}

#requester-prof-pic {
    height:35px; 
    width:35px;
    margin-top:3px;
    margin-right:10px;
    border-radius:2px;
}

.friend-request-item {
    margin-bottom:10px;
}

.notification-listitem {
    padding:0px 2px;
    font-size:11px;
    margin-bottom:12px;
    margin-left:10px;
}

.friend-request-button {
    margin-bottom:10px;
}

/*nav bar:end*/


/*profile*/

#user-profile {
    background: linear-gradient(to bottom, black 0%,black 50%,#000000 50%,white 50%,white 100%); 
    /*background-color:#009688;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px 10px;
}

#profile-header {
    background-color:#424242;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px 10px;
}

#edit-icon {
    margin-top:15px;
    font-size:20px;
}

#edit-icon:hover {
    color:#aaa;
}

.profile-options {
    background-color:#fff;
    font-size:16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding:10px 10px;
    border-radius:10px;
}

.profile-options:hover {
    color:#fff;
    background-color:#424242;
    cursor:pointer;
}

#profile-options-header {
    margin-top:10px;
    margin-bottom:11px;
}


#profile-profile-picture {
    height: 100px ;
    width: 100px;
    text-align:center;
    margin-top:10px;
    margin-left:400px;
    position:relative;
}

#profile-profile-picture #camera-icon {
    position: absolute;
    top: 20px;
    left: 40px;
}

#camera-icon {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size:40px;
    opacity: 0.5;
    color: #000;
}

#camera-icon:hover {
    opacity:1;
    color: #000;
}

#profile-prof-pic {
    height: 100px ;
    width: 100px;
    margin-top:10px;
    margin-left:10px;
    display:block;
    border-radius:2px;
}

#profile-link{
    margin-right:10px;
    margin-top:10px;
}

#profile-username {
    color:#fff;
}

#profile-fullname, #profile-username {
    font-size:20px;
}

#profile-user-details {
    background-color:#fff;
    padding-bottom:20px;
    font-size: 11px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#profile-username {
    color:#fff;
    white-space:nowrap;
}

#about-me{
    resize:none;
}

#interactButtons {
    margin-top:10px;
    margin-bottom:10px;
}

#intro {
    margin-top: 30px;
    margin-right: 70px;
}

#profile-content {
    margin-top:10px;
}

/*profile:end*/

/*search*/

#noResults {
    margin-left:15px;
}

#searchBar {
    margin-left:30px;
}

/*search:end*/


/*friends-page*/


#friend-prof-pic {
    width:100%;
    margin: 10px 0px 10px 0px;
    border-radius:10px;
}

#friend-backToTimeline {
   margin-top:10px;
}

#friend-friend-list-container {
    background-color:#fff;
    margin-top:10px;
}

.friendlist-item{
    background-color: #eee;
    border: 1px solid #000;
    margin: 10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size:11px;
}

.friend-friendlist-item{
    background-color: #eee;
    border: 1px solid #000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size:11px;
}

#friend-row {
    margin-right:-80px;
}

.friend-friendlist-item{
    background-color: #eee;
    border: 1px solid #000;
    margin: 10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size:16px;
}

#friend-list-container {
    padding:10px 150px;
    background-color:#fff;
    margin-top:10px;
}

#friend-list{
    background-color: #fff;
    padding:10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:10px;
}

#backToTimeline {
    margin-left:10px;
}
/*friend-page:end*/

/*home*/

#prof-pic {
    height: 100px;
    width: 100px;
    text-align:center;
    margin-top:10px;
    margin-left:95px;
    border-radius:5px;
    border:2px solid #aaa;
}

#user-fullname {
    margin-top:10px;
}

/*home:end*/

/*post*/

#btnPost, #btnComment {
    color:#fff;
    background-color:#039BE5;
    border:1px solid #03A9F4;
}

#textAreaPost {
    resize:none;
    margin-bottom: 10px;
}

#writePost {
    background-color:#fff;
    padding:10px 10px;
    margin-right:-13px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.like {
    color: #039BE5;
}

.comment {
    color:#1976D2;
}

.comment-count:hover {
    color: #9E9E9E;
}

.comment-count {
    color: #aaa;
}

.post-comments {
    margin-top:10px;
    margin-left:-13px;
    margin-right:-13px;
    padding: 10px 10px;
}

.textArea-comment {
    resize:none;
    margin-bottom: 10px;
}

.input-sm {
    margin-bottom:12px;
}

.pastebookPost {
    background-color: #fff;
    margin-top:10px;
    padding: 10px 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.pastebookPost:hover {
    background-color: #E0F7FA;
}

.post-header {
    color:#000;
    padding: 5px 5px;
}

#writePost-header {
    margin-bottom:12px;
}

.post-content {
    margin-top:10px;
}

.post-reaction {
    margin-bottom:1px;
}
.post-reaction-like {
    background-color:#039BE5;
    color:#fff;
}

.post-reaction-like:disabled {
    background-color:#2196F3;
    color:#fff;
}

.post-reaction-like:focus {
    background-color:#ff0000;
    color:#fff;
}

#edit-profile-choice {
    margin-top:-10px;
}

.post-reaction-comment {
    background-color:#039BE5;
    color:#fff;
}

#newsfeedPost {
    margin-left:-13px;
    margin-right:-26px;
}

#timelinePost {
    margin-left:-13px;
    margin-right:-26px;
}

.post-reaction-buttons:hover {
    background-color:#fff;
    color:#039BE5;
}

.post-reaction-unlike {
    background-color:#f00;
    color:#fff;
}

.post-reaction-unlike:hover {
    background-color:#fff;
    color:#f00;
}

.post-reaction-count {
    margin-top:10px;
    color:#aaa;
}

.post-comment {
    font-size:11px;
}

.date {
    color:#aaa;
    font-size:11px;
}

/*post:end*/

/*edit profile*/
#edit-profile {
    margin-top:40px;
    background-color:#fff;
}

#edit-basic-info {
    background-color:#aaa;
    margin:10px 10px;
    padding:10px 10px;
}

#change-password {
    background-color:#eee;
    margin:10px 10px;
    padding:10px 10px;
}
/*edit profile:end*/


.link {
    color:#000;
}

.link:hover {
    color:#aaa;
}

#newsfeed, #profile {
    margin-top:20px;
}

label.required-asterisk:before
{
     content: "*";
}

#login-form {
    margin-top:30px;
    border-radius: 15px;
    border: 1px solid #aaa;
    background-color: #fff;
    padding-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*#user-profile,*/ #writePost, .pastebookPost, #profile-header, #profile-user-details , #registerForm{
    border-radius:10px;
}

#textAreaPost, .textArea-comment {
    border-radius:5px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
