@model Pastebook.Models.ProfileViewModel

@if (!(Model.User.ID == (int)Session["UserId"]))
{
    if (Model.ListOfFriends.Any(x => x.FRIEND_ID == Model.User.ID) && Model.ListOfFriends.Any(x => x.USER_ID == (int)Session["UserId"]))
    {
        if (Model.ListOfFriends.Where(x => x.USER_ID == (int)Session["UserId"]).Where(x => x.FRIEND_ID == Model.User.ID).SingleOrDefault().REQUEST == "N")
        {
            <div class="form-group">
                <button id="btnAddFriend" class="btn" value=@Model.User.ID disabled>Friend Request Sent</button>
            </div>
        }

        else
        {
            <div class="form-group">
                <button id="btnFriendAlready" class="btn" disabled>Friend</button>
            </div>
        }
    }

    else if (Model.ListOfFriends.Any(x => x.USER_ID == Model.User.ID) && Model.ListOfFriends.Any(x => x.FRIEND_ID == (int)Session["UserId"]))
    {
        if (Model.ListOfFriends.Where(x => x.USER_ID == Model.User.ID).Where(x => x.FRIEND_ID == (int)Session["UserId"]).SingleOrDefault().REQUEST == "N")
        {
        <div class="form-group">
            <button id="btnAcceptFriend" class="btn" value=@Model.ListOfFriends.Where(x => x.FRIEND_ID == (int)Session["UserId"]).Where(x => x.USER_ID == Model.User.ID).SingleOrDefault().ID>Accept Friend Request</button>
        </div>

        <div class="form-group">
            <button id="btnRejectFriend" class="btn" value=@Model.ListOfFriends.Where(x => x.FRIEND_ID == (int)Session["UserId"]).Where(x => x.USER_ID == Model.User.ID).SingleOrDefault().ID>Reject Friend Request</button>
        </div>
        }

        else
        {
        <div class="form-group">
            <button id="btnFriendAlready" class="btn" disabled>Friend</button>
        </div>
        }
    }

    else
    {
        <div class="form-group">
            <button id="btnAddFriend" class="btn" value=@Model.User.ID><span id="plus" class="glyphicon glyphicon-plus"></span>Add Friend</button>
        </div>
        }
    }
