@model IEnumerable<PastebookEF.PASTEBOOK_NOTIFICATION>

<li class="notification-listitem">
    @Html.ActionLink("View All Notification", "Notification", "Interaction")
</li>

@foreach (var notification in Model)
{
<li class="notification-listitem">
    @if (notification.SENDER_ID != (int)Session["UserId"])
    {
        if (notification.NOTIF_TYPE == "L" && notification.PASTEBOOK_POST.PROFILE_OWNER_ID == (int)Session["UserId"] && notification.SENDER_ID != (int)Session["UserId"])
        {
            @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME + " liked a post  you posted.", "Posts", "Pastebook", new { postId = notification.POST_ID }, null);
        }

        if (notification.NOTIF_TYPE == "C" && notification.PASTEBOOK_POST.PROFILE_OWNER_ID == (int)Session["UserId"] && notification.SENDER_ID != (int)Session["UserId"])
        {
            @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME + " commented on a post you posted.", "Posts", "Pastebook", new { postId = notification.POST_ID }, null);
        }


        if (notification.NOTIF_TYPE == "F" && notification.SENDER_ID != (int)Session["UserId"])
        {
            @Html.ActionLink(notification.PASTEBOOK_USER1.FIRST_NAME + " " + notification.PASTEBOOK_USER1.LAST_NAME + "  sent you a friend request.", "UserProfile", "Pastebook", new { username = notification.PASTEBOOK_USER1.USER_NAME }, null);
        }
    }
</li>
}

